# .envrc

# =============================
# Environment Loading
# =============================
# load sensible data from not versioned file
source_env_if_exists .envrc.local
source_env_if_exists .envrc.secret

# =============================
# Pixi Update and Shell Hook
# =============================
# update pixi (if needed and catch any errors)
if ! pixi self-update > /dev/null 2>&1; then
  echo "" # just catch any errors
  # Optionally, you can exit the script or take other actions
  # exit 1
fi

# Watch for changes in the pixi.lock file and re-run pixi shell-hook
watch_file .pixi.lock
if [ -f ".pixi.lock" ]; then
    eval "$(pixi shell-hook -e local-dev --frozen --manifest-path ./pyproject.toml)"
else
    eval "$(pixi shell-hook -e local-dev --manifest-path ./pyproject.toml)"
fi

# =============================
# Pre-commit Hook Check
# =============================
# Check if pre-commit hook is installed
GIT_ROOT=$(git rev-parse --show-toplevel)

if [ ! -f "$GIT_ROOT/.git/hooks/pre-commit" ]; then
    echo "Running 'post-install' task ..."
    pixi run post-install
fi
